{% extends 'base.html.twig' %}

{% block title %}Forum index
{% endblock %}

{% block body %}
	<h1>Forum index</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Description</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for forum in forums %}
				<tr>
					<td>{{ forum.id }}</td>
					<td>{{ forum.Titre }}</td>
					<td>{{ forum.Description }}</td>
					<td>
						<a href="{{ path('app_admin_forum_show', {'id': forum.id}) }}">Consulter</a>
						<a href="{{ path('app_admin_forum_edit', {'id': forum.id}) }}">Editer</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_admin_forum_new') }}">Create new</a>
{% endblock %}
